<div class="seg_header mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-inline-flex">
            <img src="../../../assets/img/segments.svg" alt="pic">
            <div class="ml-3">
                <h3 class="text_light_gray fontfamily_bold m-0">Highlighted Segments </h3>
                <p class="text_light_gray m-0">Segments are the groups of employees, based on teams and demographics,
                    that report upward to you.</p>
            </div>
        </div>
        <a class="btn_style" href="#">All Segments</a>
    </div>
</div>
<div class="seg_carousel">
    <div class="sec_style">
        <p class="text_gray fontfamily_bold">Segments to improve (14) <a href="#"
                style="color: #8139c2;margin-left: .5rem;text-decoration: underline;">see all</a></p>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="carousel_item d-flex align-items-center">
                    <p style="background-image: linear-gradient(137deg, #0017ff 14%, #0096ff 85%);" class="__img">
                        < 30 </p>
                            <div class="ml-3 d-inline-flex justify-content-between align-items-center"
                                style="width: calc(100% - 50px);">
                                <div>
                                    <p class="m-0 text_gray fontfamily_bold">
                                        < 30 <span class="pl-2 pr-2"
                                            style="background: #fff5f5;color:#f75656;margin-left: .5rem;display: inline-block;">
                                            6.2</span>
                                    </p>
                                    <p class="m-0 text_light_gray">Commute Time <img class="profile_image"
                                            src="../../../assets/img/profile.svg" alt="pic">5 people</p>
                                    <p class="m-0 text_gray"><span style="color:#f75656;">-2.1 below </span> the
                                        Benchmark <span style="color: #8139c2;">8.3</span></p>
                                </div>
                                <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                            </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carousel_item d-flex align-items-center">
                    <p style="background-image: linear-gradient(137deg, #ff0000 14%, #a100a7 85%);" class="__img">B </p>
                    <div class="ml-3 d-inline-flex justify-content-between align-items-center"
                        style="width: calc(100% - 50px);">
                        <div>
                            <p class="m-0 text_gray fontfamily_bold">Berlin <span class="pl-2 pr-2"
                                    style="background: #fff5f5;color:#f75656;margin-left: .5rem;display: inline-block;">5.9</span>
                            </p>
                            <p class="m-0 text_light_gray">Local Office <img class="profile_image"
                                    src="../../../assets/img/profile.svg" alt="pic">22 people</p>
                            <p class="m-0 text_gray"><span style="color:#f75656;">-1.1 below </span> the Benchmark <span
                                    style="color: #8139c2;">7</span></p>
                        </div>
                        <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carousel_item d-flex align-items-center">
                    <p style="background-image: linear-gradient(137deg, #ff8500 14%, #86a541 85%);" class="__img">C </p>
                    <div class="ml-3 d-inline-flex justify-content-between align-items-center"
                        style="width: calc(100% - 50px);">
                        <div>
                            <p class="m-0 text_gray fontfamily_bold">Cairo <span class="pl-2 pr-2"
                                    style="background: #fff5f5;color:#f75656;margin-left: .5rem;display: inline-block;">5.9</span>
                            </p>
                            <p class="m-0 text_light_gray">Commute Time <img class="profile_image"
                                    src="../../../assets/img/profile.svg" alt="pic">5 people</p>
                            <p class="m-0 text_gray"><span style="color:#f75656;">-2.1 below </span> the Benchmark <span
                                    style="color: #8139c2;">8.3</span></p>
                        </div>
                        <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carousel_item d-flex align-items-center">
                    <p style="background-image: linear-gradient(137deg, #4f00ff 14%, #ff6400 85%);" class="__img">CR
                    </p>
                    <div class="ml-3 d-inline-flex justify-content-between align-items-center"
                        style="width: calc(100% - 50px);">
                        <div>
                            <p class="m-0 text_gray fontfamily_bold">Carolyn Robertson <span class="pl-2 pr-2"
                                    style="background: #fff5f5;color:#f75656;margin-left: .5rem;display: inline-block;">6.2</span>
                            </p>
                            <p class="m-0 text_light_gray">Manager (All reports)</p>
                            <p class="m-0 text_gray"><span style="color:#f75656;">-2.1 below </span> the Benchmark <span
                                    style="color: #8139c2;">8.3</span></p>
                        </div>
                        <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carousel_item d-flex align-items-center">
                    <p style="background-image: linear-gradient(137deg, #4f00ff 14%, #ff6400 85%);" class="__img">CR
                    </p>
                    <div class="ml-3 d-inline-flex justify-content-between align-items-center"
                        style="width: calc(100% - 50px);">
                        <div>
                            <p class="m-0 text_gray fontfamily_bold">Carolyn Robertson <span class="pl-2 pr-2"
                                    style="background: #fff5f5;color:#f75656;margin-left: .5rem;display: inline-block;">6.2</span>
                            </p>
                            <p class="m-0 text_light_gray">Manager (All reports)</p>
                            <p class="m-0 text_gray"><span style="color:#f75656;">-2.1 below </span> the Benchmark <span
                                    style="color: #8139c2;">8.3</span></p>
                        </div>
                        <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="sec_style">
        <p class="text_gray fontfamily_bold">Segments doing great (8) <a href="#"
                style="color: #8139c2;margin-left: .5rem;text-decoration: underline;">see all</a></p>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="carousel_item d-flex align-items-center">
                    <p style="background-image: linear-gradient(137deg, #00a779 14%, #2bff00 85%);" class="__img">NY</p>
                    <div class="ml-3 d-inline-flex justify-content-between align-items-center"
                        style="width: calc(100% - 50px);">
                        <div>
                            <p class="m-0 text_gray fontfamily_bold">New York<span class="pl-2 pr-2"
                                    style="background: #fff5f5;color:#4ac979;margin-left: .5rem;display: inline-block;">6.2</span>
                            </p>
                            <p class="m-0 text_light_gray">Commute Time <img class="profile_image"
                                    src="../../../assets/img/profile.svg" alt="pic">5 people</p>
                            <p class="m-0 text_gray"><span style="color:#4ac979;">1.2 above</span> the Benchmark <span
                                    style="color: #8139c2;">8.3</span></p>
                        </div>
                        <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carousel_item d-flex align-items-center">
                    <p style="background-image: linear-gradient(137deg, #66f1cb 14%, #00e8ff 85%);" class="__img">ND</p>
                    <div class="ml-3 d-inline-flex justify-content-between align-items-center"
                        style="width: calc(100% - 50px);">
                        <div>
                            <p class="m-0 text_gray fontfamily_bold">New Delhy<span class="pl-2 pr-2"
                                    style="background: #fff5f5;color:#4ac979;margin-left: .5rem;display: inline-block;">6.2</span>
                            </p>
                            <p class="m-0 text_light_gray">Commute Time <img class="profile_image"
                                    src="../../../assets/img/profile.svg" alt="pic">5 people</p>
                            <p class="m-0 text_gray"><span style="color:#4ac979;">1.2 above</span> the Benchmark <span
                                    style="color: #8139c2;">8.3</span></p>
                        </div>
                        <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carousel_item d-flex align-items-center">
                    <p style="background-image: linear-gradient(137deg, #00a1ff 14%, #007aff 85%);" class="__img">L</p>
                    <div class="ml-3 d-inline-flex justify-content-between align-items-center"
                        style="width: calc(100% - 50px);">
                        <div>
                            <p class="m-0 text_gray fontfamily_bold">London<span class="pl-2 pr-2"
                                    style="background: #fff5f5;color:#4ac979;margin-left: .5rem;display: inline-block;">6.2</span>
                            </p>
                            <p class="m-0 text_light_gray">Commute Time <img class="profile_image"
                                    src="../../../assets/img/profile.svg" alt="pic">5 people</p>
                            <p class="m-0 text_gray"><span style="color:#4ac979;">1.2 above</span> the Benchmark <span
                                    style="color: #8139c2;">8.3</span></p>
                        </div>
                        <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carousel_item d-flex align-items-center">
                    <p style=" background-image: linear-gradient(137deg, #d6a9ff 14%, #00d0ff 85%);" class="__img">NC
                    </p>
                    <div class="ml-3 d-inline-flex justify-content-between align-items-center"
                        style="width: calc(100% - 50px);">
                        <div>
                            <p class="m-0 text_gray fontfamily_bold">New Cairo<span class="pl-2 pr-2"
                                    style="background: #fff5f5;color:#4ac979;margin-left: .5rem;display: inline-block;">6.2</span>
                            </p>
                            <p class="m-0 text_light_gray">Commute Time <img class="profile_image"
                                    src="../../../assets/img/profile.svg" alt="pic">5 people</p>
                            <p class="m-0 text_gray"><span style="color:#4ac979;">1.2 above</span> the Benchmark <span
                                    style="color: #8139c2;">8.3</span></p>
                        </div>
                        <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="carousel_item d-flex align-items-center">
                    <p style="background-image: linear-gradient(137deg, #00a779 14%, #2bff00 85%);" class="__img">NY</p>
                    <div class="ml-3 d-inline-flex justify-content-between align-items-center"
                        style="width: calc(100% - 50px);">
                        <div>
                            <p class="m-0 text_gray fontfamily_bold">New York<span class="pl-2 pr-2"
                                    style="background: #fff5f5;color:#4ac979;margin-left: .5rem;display: inline-block;">6.2</span>
                            </p>
                            <p class="m-0 text_light_gray">Commute Time <img class="profile_image"
                                    src="../../../assets/img/profile.svg" alt="pic">5 people</p>
                            <p class="m-0 text_gray"><span style="color:#4ac979;">1.2 above</span> the Benchmark <span
                                    style="color: #8139c2;">8.3</span></p>
                        </div>
                        <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>