<div class="comm_header mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-inline-flex">
            <img src="../../../assets/img/segments.svg" alt="pic">
            <div class="ml-3">
                <h3 class="text_light_gray fontfamily_bold m-0">Highlighted Comments</h3>
                <p class="text_light_gray m-0">Comments are given in response to survey questions from Kaktus. </p>
            </div>
        </div>
        <a class="btn_style" href="#">All Comments</a>
    </div>
</div>
<div class="sec_style">
    <div class="comment d-flex">
        <div class="comm_img text-center">
            <img src="../../../assets/img/promoters.svg" alt="pic">
            <p class=" text_light_gray text_small m-0">Score 8</p>
        </div>
        <div class="comment_data green">
            <p class="text_gray m-0">Q: I feel like I am given enough freedom to decide how to do my work.</p>
            <p class="text_light_gray m-0"><img class="mr-2" src="../../../assets/img/calendar.svg" alt="pic">17 Nov 2020 <span class="ml-2" style="text-decoration: underline;"> Driver: Autonomy</span></p>
            <p class="text_gray m-0 fontfamily_bold">I'm basically not doing my work for what I think will resonate best with our audience, it's just whatever I think will please my manager most.</p>
        </div>
    </div>
    <div class="comment d-flex">
        <div class="comm_img text-center">
            <img src="../../../assets/img/questions.svg" alt="pic">
        </div>
        <div class="comment_data gray">
            <p class="text_gray m-0">Q: What’s the one thing that would improve your productivity right now?</p>
            <p class="text_light_gray m-0"><img class="mr-2" src="../../../assets/img/calendar.svg" alt="pic">17 Nov 2020 <span class="ml-2" style="text-decoration: underline;"> Open ended question</span></p>
            <p class="text_gray m-0 fontfamily_bold">I'm basically not doing my work for what I think will resonate best with our audience, it's just whatever I think will please my manager most.</p>
        </div>
    </div>
    <div class="comment d-flex">
        <div class="comm_img text-center">
            <img src="../../../assets/img/detractors.svg" alt="pic">
            <p class=" text_light_gray text_small m-0">Score: 3</p>
        </div>
        <div class="comment_data red">
            <p class="text_gray m-0">Q: At work, I know what is expected of me every day.</p>
            <p class="text_light_gray m-0"><img class="mr-2" src="../../../assets/img/calendar.svg" alt="pic">17 Nov 2020 <span class="ml-2" style="text-decoration: underline;"> Driver: Goal Setting</span></p>
            <p class="text_gray m-0 fontfamily_bold">I know what my core objectives are, but they are always overridden by what my manager wants at that particular instant</p>
        </div>
    </div>
</div>