<div class="sec_style mb-3">
    <div class="sec_tit d-flex justify-content-between align-items-center mb-4">
        <p class="fontfamily_bold m-0">PARTICIPATION</p>
        <a class="text_light_gray" href="#">Details <img src="../../../assets/img/arrow-right.png" alt="pic"></a>
    </div>
    <div class="d-flex align-items-center">
        <div class="progress" data-percentage="75">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">
                <p class="font_size_smale fontfamily_bold" style="color: #4ac979;">75%</p>
            </div>
        </div>
        <div style="width: calc(100% - 100px);">
            <p class="text_light_gray"><span style="color: #4ac979;">+0.2 above</span> the Benchmark
                (300/400 Employee)</p>
            <div class="scor_rec">
                <div class="_rectangle">
                    <span class="animated fadeInLeft" style="width: 90%;"></span>
                </div>
                <div class="score_numbers text_light_gray">
                    <span style="left:0">0</span>
                    <span style="left:80%">8</span>
                    <span style="left:100%">10</span>
                </div>
            </div>
        </div>

    </div>
</div>