<app-ng7-bootstrap-breadcrumb></app-ng7-bootstrap-breadcrumb>
<section>
    <div class="row m-0">
        <div class="col-lg-9 pl-0">
            <app-score></app-score>
        </div>
        <div class="col-lg-3 d-inline-flex flex-column justify-content-between">
            <app-participation></app-participation>
            <app-communications></app-communications>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-sm-12">
            <app-drivers></app-drivers>
        </div>
    </div>
</section>
