<div class="sec_style">
    <div class="sec_tit d-flex justify-content-between align-items-center">
        <p class="fontfamily_bold m-0">Communications</p>
        <a class="text_light_gray" href="#">Details <img src="../../../assets/img/arrow-right.png" alt="pic"></a>
    </div>
    <div class="d-flex align-items-center">
        <div class="progress" data-percentage="63">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="progress-value">
                <p class="font_size_smale fontfamily_bold" style="color: #ffa93a;">63%</p>
            </div>
        </div>
        <div style="width: calc(100% - 100px);">
            <p class="text_light_gray font_size_small"><span style="color: #f75656;">-1.1 below</span>  the Communications Benchmark</p>
            <div class="scor_rec">
                <div class="_rectangle">
                    <span class="animated fadeInLeft" style="width: 60%;"></span>
                </div>
                <div class="score_numbers text_light_gray">
                    <span style="left:0">0</span>
                    <span style="left:70%">7</span>
                    <span style="left:100%">10</span>
                </div>
            </div>
        </div>

    </div>
</div>