<div class="direct_header mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-inline-flex">
            <img src="../../../assets/img/drivers.svg" alt="pic">
            <div class="ml-3">
                <h3 class="text_light_gray fontfamily_bold m-0">Highlighted Drivers</h3>
                <p class="text_light_gray m-0">Drivers measure how satisfied employees are with the culture, leadership, and responsibilities that make up their experience at work.</p>
            </div>
        </div>
        <a class="btn_style" href="#">All Drivers</a>
    </div>
</div>
<div class="sec_style">
    <p class="text_gray fontfamily_bold">Drivers to improve (3)</p>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="carousel_item d-flex align-items-center">
                <img class="__img" src="../../../assets/img/environment.svg" alt="">
                <div class="w-100 ml-3 d-inline-flex justify-content-between align-items-center">
                    <div>
                        <p class="m-0 text_gray fontfamily_bold">Environment <span class="pl-2 pr-2" style="background: #fff5f5;color:#f75656;margin-left: .5rem;display: inline-block;">6.2</span></p>
                        <p class="m-0 text_gray"><span style="color:#f75656;">-2.1 below </span> the Benchmark <span style="color: #8139c2;">8.3</span></p>    
                    </div>
                    <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                </div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="carousel_item d-flex align-items-center">
                <img class="__img" src="../../../assets/img/freedom.svg" alt="">
                <div class="w-100 ml-3 d-inline-flex justify-content-between align-items-center">
                    <div>
                        <p class="m-0 text_gray fontfamily_bold">Freedom of Opinions <span class="pl-2 pr-2" style="background: #fff5f5;color:#f75656;margin-left: .5rem;display: inline-block;">5.2</span></p>
                        <p class="m-0 text_gray"><span style="color:#f75656;">-1.9 below</span> the Benchmark <span style="color: #8139c2;">7.1</span></p>    
                    </div>
                    <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                </div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="carousel_item d-flex align-items-center">
                <img class="__img" src="../../../assets/img/growth.svg" alt="">
                <div class="w-100 ml-3 d-inline-flex justify-content-between align-items-center">
                    <div>
                        <p class="m-0 text_gray fontfamily_bold">Growth <span class="pl-2 pr-2" style="background: #fff5f5;color:#f75656;margin-left: .5rem;display: inline-block;">6.8</span></p>
                        <p class="m-0 text_gray"><span style="color:#f75656;">-2.2 below</span> the Benchmark <span style="color: #8139c2;">9</span></p>    
                    </div>
                    <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                </div>
            </div>
        </ng-template>  
    </owl-carousel-o> 
</div>
<div class="sec_style">
    <p class="text_gray fontfamily_bold">Drivers doing great (2)</p>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="carousel_item d-flex align-items-center">
                <img class="__img" src="../../../assets/img/reward.svg" alt="">
                <div class="w-100 ml-3 d-inline-flex justify-content-between align-items-center">
                    <div>
                        <p class="m-0 text_gray fontfamily_bold">Reward<span class="pl-2 pr-2" style="background: #fff5f5;color:#4ac979;margin-left: .5rem;display: inline-block;">6.2</span></p>
                        <p class="m-0 text_gray"><span style="color:#4ac979;">1.2 above</span> the Benchmark <span style="color: #8139c2;">8.3</span></p>    
                    </div>
                    <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                </div>
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="carousel_item d-flex align-items-center">
                <img class="__img" src="../../../assets/img/organizational-fit.svg" alt="">
                <div class="w-100 ml-3 d-inline-flex justify-content-between align-items-center">
                    <div>
                        <p class="m-0 text_gray fontfamily_bold">Organizational Fit <span class="pl-2 pr-2" style="background: #fff5f5;color:#4ac979;margin-left: .5rem;display: inline-block;">5.2</span></p>
                        <p class="m-0 text_gray"><span style="color:#4ac979;">1.2 above</span> the Benchmark <span style="color: #8139c2;">7.1</span></p>    
                    </div>
                    <a href="#"><img src="../../../assets/img/arrow-right.png" alt="pic"></a>
                </div>
            </div>
        </ng-template>  
    </owl-carousel-o> 
</div>
