<div class="direct_header mt-4">
    <div class="d-flex justify-content-between">
        <div class="d-inline-flex">
            <img src="../../../assets/img/drivers.svg" alt="pic">
            <div class="ml-3">
                <h3 class="text_light_gray fontfamily_bold m-0">Highlighted Drivers</h3>
                <p class="text_light_gray m-0">Drivers measure how satisfied employees are with the culture, leadership, and responsibilities that make up their experience at work.</p>
            </div>
        </div>
    </div>
</div>
<div class="sec_style">
    <p class="text_gray fontfamily_bold">Drivers to improve (3)</p>
    <!-- <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="_item d-flex">
                <img src="../../../assets/img/environment.svg" alt="">
            </div>
        </ng-template>  
        <ng-template carouselSlide>Slide 2</ng-template>  
        <ng-template carouselSlide>Slide 3</ng-template>  
        <ng-template carouselSlide>Slide 4</ng-template>  
        <ng-template carouselSlide>Slide 5</ng-template> 
    </owl-carousel-o> -->
</div>
