.text_light_gray{
    color:$light-gray;
}
.text_gray{
    color:#465061;
}
.fontfamily_bold{
    font-family: $font-family-bold;
}
.font_size_small{
    font-size: 12px;
}
#wrapper {
    overflow-x: hidden;
    background:#f6f5f4;
    #sidebar-wrapper {
      padding: 20px 1rem;
      min-height: 100vh;
      margin-left: -15rem;
      -webkit-transition: margin .25s ease-out;
      -moz-transition: margin .25s ease-out;
      -o-transition: margin .25s ease-out;
      transition: margin .25s ease-out;
      .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 12px;
        color:#a0aabb;
      }
      .list-group {
        width: 15rem;
      }
    }
    #page-content-wrapper {
      width: calc(100vw - 15rem);
    }
    &.toggled {
      #sidebar-wrapper {
        margin-left: 0 !important;
      }
      #page-content-wrapper {
        width: 100%;
      }
    }
 }
 .breadcrumb{
     background:transparent;
     margin-bottom: 0;
     padding: 1.5rem 0;
     .breadcrumb-item{
        font-size: 12px !important;
        &+.breadcrumb-item::before{
            content: url(assets/img/arrow-right.png);
        }
        a{
            color:#455166 !important;
        }
     }

 }
 nav{
     background:transparent !important
 }
 .sec_style{
    border-radius: 4px;
    box-shadow: 0 0 9px 0 #eeeeee;
    background-color: #ffffff;
    padding: 1rem;
 }




@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0 !important;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem !important;
  }
}